<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<base href="/">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="js/plugins/hbook/dist/css/hbook.min.css">
	<link rel="stylesheet" href="css/views/login.css">
	
</head>
<body>
	
	
	<div class="login-box">
		<h1 class="login-box-tit">
			注册
		</h1>
		<div class="login-box-inner">
			<form class="form-horizontal" id="login-form">
			  <div class="form-group form-line-input">
                <input id="user" class="form-control" name="user" type="text" >
                <label for="user">用户名</label>
                <span class="help-block"></span>
              </div>
			  <div class="form-group form-line-input">
                <input id="pass" class="form-control" name="password" type="password"  >
                <label for="pass">密码</label>
                 <span class="help-block"></span>
              </div>
               <div class="form-group form-line-input">
                <input id="reply-Pass" class="form-control" name="replyPassword" type="password"  >
                <label for="pass">确认密码</label>
                 <span class="help-block"></span>
              </div>

              <a href="javascript:;" class="btn btn-large btn-block btn-primary" id="login-btn">确定</a>
			</form>
		</div>
	</div>
	
	<script src="js/require.min.js"></script>
	<script src="js/config.js"></script>
	<script>
	    require(['views/register'],function(register){
	    	register.init();
	    });
	</script>
	
</body>
</html>