@charset"utf-8";

/* 正在加载中 */
.load-data{
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
}
.load-data i {
  margin-right: 5px;
}

.footer{
	margin-top: 50px;
    padding: 10px 10px 40px;
    color: #999;
    text-align: center;
}