<% if(data.length > 0) {%>
  <% data.forEach(function(data,index){ %>
      <li class="topic-content">
        <h2 class="topic-tit"><a href="javascript:;"><%= data.title  %></a></h2>
        <p class="topic-sum">
          <a href="javascript:;"><%= data.content  %></a>
        </p>
        <div class="topic-bottom"><%= data.date  %></div>
      </li>
  <% }) %>
<% }else{%>

<% } %>