
.topic-bg{
    position: relative;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

.topic{
    margin-bottom: 48px;
    min-height: 500px;
}
.topic-module{
    margin: 48px 0 8px;
}
.topic-module .module-tit{
    position: relative;
}
.topic-module .module-tit h1{
    margin-bottom: 32px;
    padding-left: 20px;
    border-left: 4px solid #6CF ;
    font-size: 20px;
    font-weight: normal;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.topic-module .add-topic{
   position: absolute;
   top: 0;
   right: 0;
}
.topic-list{
    margin-bottom: 24px;
    min-height: 500px;
}
.topic-list .topic-content{
    padding: 24px 0;
    border-bottom: 1px solid #efefef;
}
.topic-list .topic-content .topic-tit{
    margin-bottom: 20px;
    color: #666;
    font-size: 1.6rem;
    font-weight: normal;
}
.topic-list .topic-content .topic-tit a{
    color: #666;
}
.topic-list .topic-content .topic-tit a:hover{
    color:#6CF;
}
.topic-list .topic-content .topic-sum{
    margin-bottom: 20px;
    line-height: 20px;
    color: #999;
    font-size: 1.4rem;
}
.topic-list .topic-content .topic-sum a,
.topic-list .topic-content .topic-bottom{
    color: #999;
}  

.topic-list .topic-content .topic-bottom{
    position: relative;
}
.topic-list .topic-content .topic-bottom .btns-group{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* 资讯详情 */
.topic-detail {
    margin: 48px 0;
}
.topic-detail .topic-detail-tit{    
    margin-bottom: 20px;
    line-height: 36px;
    color: #666;
    font-size: 2.4rem;
    font-weight: normal;
}
.topic-detail .topic-detail-label{
    margin-bottom: 20px;
}
.topic-detail .topic-detail-label .date{
    color: #999;
}
.topic-detail-content{
    min-height: 500px;
    color: #3d464d;
    line-height: 30px;
    font-size: 16px;
}
.topic-detail-content img{
    max-width: 100%;
}
.label-tit{
    margin-bottom: 16px;
    color: #888;
}